name: "Flake.lock: re-run update if there is an open PR"

on:
  push:
    paths:
      - 'flake.lock'

jobs:
  update-flake-if-lock-changed:
    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/github-script@v8
        id: check_pr
        with:
          script: |
            const prs = await github.rest.pulls.list({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: "open"
            });
            const hasPR = prs.data.some(pr => pr.head.ref === "update-flake-lock" && pr.base.ref === "main");
            core.setOutput("exists", hasPR ? "true" : "false");

      - uses: ./.github/workflows/update.yml@main
        if: steps.check_pr.outputs.exists == 'true'
